@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-gray-950: hsl(0, 0%, 7%);

  --font: "Figtree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-yellow);
  font-family: var(--font);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main .card {
  background-color: var(--clr-white);
  width: 24.5rem;
  padding: 1.5rem;
  border-radius: 1.2rem;
  border: 1px solid var(--clr-gray-950);
  box-shadow: 0.5rem 0.5rem 0 var(--clr-gray-950);
}

main .card .img {
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 0.6rem;
  margin-bottom: 1.6rem;
}

main .card .img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card .btn {
  background-color: var(--clr-yellow);
  color: var(--clr-gray-950);
  font-size: 1rem;
  font-weight: 800;
  padding: 5px 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 0.8rem;
}

.card p {
  color: var(--clr-gray-950);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

.card .description {
  font-size: 1.1rem;
  line-height: 1.6em;
  color: var(--clr-gray-500);
}

.card .author {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.card .author img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.card .author span {
  font-size: 1rem;
  font-weight: 800;
  color: var(--clr-gray-950);
}
